Flask
SQLAlchemy
requests
pandas
gunicorn
selenium
webdriver-manager
Flask-Login
pytest
pytest-flask
Flask-APScheduler
undetected-chromedriver
beautifulsoup4
curl_cffi
scrapling
playwright
browserforge
